Package: beefbuild
Version: 0.43.4.CURRENTDATE
Section: Beef
Priority: optional
Architecture: amd64
Homepage: https://www.beeflang.org/
Maintainer: Booklordofthedings <Booklordofthedings@tutanota.com>
Description: A compiler for beef. Use BeefBuild -help to get more information
